nav {
  background-color: purple;
  top: 0;
}

nav li, footer li {
  list-style: none;
  display: inline;
}

body {
  background-image: url(https://cdn.wallpapersafari.com/57/0/exaytd.jpg);
  background-size:cover;
  background-repeat:no-repeat;
  background-attachment: fixed;
  color: chartreuse;
}

footer {
  background-color: green;
  bottom: 0;
}

aside {
  float: right;
  margin-right: 20px;
  margin-top: -50px;
}

/* this is a class to make this css more DRY */
nav, footer {
  position: fixed;
  left: 0;
  width: 100%;
  overflow: hidden;
}

p {
  color: lavender;
}
