<style media="screen">
  a.btn {
  text-decoration: none;
  color: #FFFFFF;
  display: block;
  padding: 10px;
  background-color: red;
}
</style>
<button type="button" name="button"><a href="/clock" class="btn">Click Me</a></button>
